<div id= "comment-<%= comment.id %>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= comment.user.name %></strong>
      [<%= comment.created_at.strftime("%I:%M%P") %>]
    </div>
    <div class="panel-body">
      <%= comment.content %>
      <% if comment.user_id == current_user.id %>
        <br><br>
        <div class="btn-group">
          <div style="display:flex">
            <div>
              <%= link_to "Delete", product_comment_path(@product, comment), method: :delete, remote: true, style: 'float: right', class:"btn btn-sm btn-danger"%>
            </div>
            <div style="margin-left:5px">
              <%= link_to "Edit", edit_product_comment_path(@product,comment), style: 'float: right', class:"btn btn-sm btn-warning" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
