<div class="panel-body">
  <%= form_with model: product,local: true do |form| %>
    <%= render 'shared/error_messages',resource: product %>
    <div class="field form-group">
      <br>
      <%= form.text_field :name, autocomplete: "name", class: "form-control", placeholder: "Name" %>
    </div>

    <div class="field form-group">
      <br />
      <%= form.number_field :price, autocomplete: "price", class: "form-control", placeholder: "Price" %>
    </div>

    <div class="field form-group">
      <br>
      <%= form.text_field :description, autocomplete: "description", class: "form-control", placeholder: "Description" %>
    </div>

    <div class="field form-group">
      <br>
      <%= form.file_field :images, multiple: true %>
    </div>

    <div class="actions">
      <br>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>