<h1>Products</h1>

<% @products.each do |product| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong><%= product.name %></strong></h3>
    </div>
    <div class="panel-body">
      <strong>Price: </strong>
      <%= number_to_currency(product.price) %>
      <br><br>
      <div class="row">
        <% (0...product.images.count).each do |image| %>
          <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
              <%= image_tag(product.images[image]) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="btn-group">
        <div style="display:flex">
          <div>
            <%= button_to "Show Product", product_path(product.id), method: :get, class: "btn btn-primary" %>
          </div>
          <% if product.user_id != current_user.id %>
            <div style="margin-left:5px">
              <%= button_to "Buy Product", product_path(product.id), method: :patch, class: "btn btn-success" %>
            </div>
          <% end %>
          <% if product.user_id == current_user.id %>
            <div style="margin-left:5px">
              <%= button_to "Edit Product", product_path(product.id), method: :patch, class: "btn btn-info" %>
            </div>
            <div style="margin-left:5px">
              <%= button_to "Delete Product", product_path(product.id), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
