<!DOCTYPE html>
<html>
  <head>
    <title>E-Commerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'home/header' %>

    <div class="container">
    
      <% if (notice || alert) %>
        <%= render 'layouts/alerts' %>
      <% end %>

      <%= yield %>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
  </body>
</html>
